<nav class="uk-navbar-container uk-background-primary">
    <div class="uk-container">
        <div class="uk-navbar" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">Shortlink</a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <button class="uk-button uk-button-default">Delete</button>
                    </li>
                    <li class="uk-active">
                        <button class="uk-button uk-button-default">Statistics</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
