<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../components/uikit.ejs"); -%>
    <%- include("../components/jquery.ejs"); -%>
</head>

<body uk-height-viewport class="">
    <%- include("../components/navbar.ejs"); -%>
    <div class="uk-container">
        <form action="">
            <div class="uk-flex uk-margin-medium-top">
                <input class="uk-input" type="text" placeholder="insert link ..." id="target-link">
                <button class="uk-button uk-button-primary">short</button>
            </div>
        </form>
        <div uk-alert>
            <div class="uk-text-success" id="conversion_id">
            </div>
            <div class="uk-flex">
                <div id="token_id">
                    
                </div>
                &nbsp;
                <div class="uk-text-warning">
                    (warning: token can only be viewed once, use it for delete the links and acces statistics page)
                </div>
                
            </div>
        </div>
        <div class="uk-text-small">
            
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("form").submit(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/api/short",
                    data: {
                        url: $("#target-link").val()
                    },
                    success: function(data) {
                        console.log(data)
                        $("#token_id").html("token: " + data["token"])
                        $("#conversion_id").html("success: your link <%= process.env.SERVER %>" + data["conversion"])
                    }
                })
            })
        })
    </script>
</body>